/*---------------------------------
	IMPORTS KICKSTART
-----------------------------------*/
@import url(kickstart/kickstart.css);

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  color: #fff;
  z-index: 1000;
  display: block;  
}

/*	
.navbar li{
	color: #fff;
}

.navbar span{
	color: #86dc00;
}

.navbar a{
	display: inline-block;
	color: #efefef;
	padding: 1em 0.7em;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 100%;
	font-size: 1.2em;
}

/*--------------HOME Layout-------------------*/
div#main{ 
	position: relative;
	overflow: inherit;
	height: 100%;
	margin: 0px;
	padding-top: 50px;
	bottom: 0;
	display: block;
}



/*--------------HOME Menu Layout-------------------*/
div#left_menu{	
	float: left;
	width: 170px;
}


/*--------------HOME Container Layout-------------------*/
div#container{
	padding-left: 170px;
	width: 100%;
	height: 100%;
}

/*--------------HOME FRAME VIEWR Layout-------------------*/
iframe#viewer{
	background-color: #FFFFFF;
	width: 100%;
	height: 100%;
}

/*--------------HOME LEANMODAL Layout-------------------*/
#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

